@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: lightgray;
}

h1{
    color: green;
    background-color: #000000;
    text-align: end;
}

h2{
    text-decoration-line: overline  underline;
    text-transform: uppercase;
}

p{
    word-spacing: 1rem;
    line-height: 2rem;
    letter-spacing: 2px;
    white-space: none;
    text-shadow: 1px 1px 10px red;
}

.squere{
    vertical-align: top;
}

.para{
    font-size: 5rem;
}